:root {
    --color-primary: #307b0ac9;
    --color-secondary: #07efa59c;

    --color-white: #FFF;
    --color-black: #0E0E0E;
    --color-gray: #929EB0;
    --color-blue: #17192B;
    --color-gradient: radial-gradient(circle, rgba(152,251,63,1) 0%, rgba(15,89,45,0.35906862745098034) 100%);

    --font-primary: "Inter", sans-serif;
    --font-size-1: clamp(1.563rem, 1.518rem + 0.119vw, 1.625rem);
    --font-size-2: clamp(1.375rem, 1.33rem + 0.119vw, 1.438rem);
    --font-size-3: clamp(1.125rem, 1.091rem + 0.168vw, 1.375rem);
    --font-size-4: clamp(0.875rem, 0.83rem + 0.119vw, 0.938rem);
    --font-size-5: clamp(0.75rem, 0.733rem + 0.084vw, 0.875rem);
}

.light-mode:root {
    --color-primary: #03885e9c; 
    --color-secondary: #62f419c9; 
    
    --color-white: #0E0E0E; 
    --color-black: #FFF; 
    --color-gray: #302d2d; 
    --color-blue: #929EB0; 
    --color-gradient: radial-gradient(circle, rgba(152,251,63,1) 0%, rgba(15,89,45,0.35906862745098034) 100%);
}


body {
    font-family: var(--font-primary);
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    height: 100%;
}